<configuration>

  <property name="defaultLogDir" value="./logs/eagerwords" />
  <property name="logDir" value="${LOG_DIR:-${defaultLogDir}}" />
  <property name="fileStem" value="eagerwords" />
  <property name="logFile" value="${logDir}/${fileStem}.log" />
  <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5level %logger{10} [%file:%line] - %msg%n%xException" />
  <property name="stdoutPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5coloredLevel %logger{10} [%file:%line] - %msg%n%xException" />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <!-- Change filter level to DEBUG to get slick and other logger output -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>${stdoutPattern}</pattern>
    </encoder>
  </appender>

  <appender name="ROLLING_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <file>${logFile}</file>
    <encoder>
      <pattern>${pattern}</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- Daily. -->
      <fileNamePattern>${logDir}/${fileStem}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
    </rollingPolicy>
  </appender>

  <!--
  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="ROLLING_FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>
  -->

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <logger name="ch.qos.logback" level="WARN" >
    <appender-ref ref="ROLLING_FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.bolour" level="DEBUG" additivity="false">
    <appender-ref ref="ROLLING_FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="slick" level="INFO" />

  <!-- Slick does not output anything at INFO level. DEBUG too noisy happens even following commented out. -->
  <!--
  <logger name="slick.basic.BasicBackend.action" level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLING_FILE" />
  </logger>

  <logger name="slick.jdbc.JdbcBackend.statement" level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLING_FILE" />
    </logger>
  -->

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="INFO">
    <appender-ref ref="ROLLING_FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
